apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http

















# apiVersion: v1
# kind: Service
# metadata:
#   name: backend-active
#   labels:
#     app: backend
# spec:
#   ports:
#   - port: 80
#     targetPort: 8000
#     protocol: TCP
#     name: http
#   selector:
#     app: backend
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: backend-preview
#   labels:
#     app: backend
# spec:
#   ports:
#   - port: 80
#     targetPort: 8000
#     protocol: TCP
#     name: http
#   selector:
#     app: backend