apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: chama-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 8000







# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: chama-ingress
#   namespace: chama-production
#   annotations:
#     nginx.ingress.kubernetes.io/rewrite-target: /
#     nginx.ingress.kubernetes.io/ssl-redirect: "false"
# spec:
#   ingressClassName: nginx
#   rules:
#   - host: chama.gitauwairimu.com
#     http:
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: frontend
#             port:
#               number: 80
#       - path: /api
#         pathType: Prefix
#         backend:
#           service:
#             name: backend
#             port:
#               number: 8000
#       - path: /docs
#         pathType: Prefix
#         backend:
#           service:
#             name: backend
#             port:
#               number: 8000
#       - path: /system
#         pathType: Prefix
#         backend:
#           service:
#             name: backend
#             port:
#               number: 8000
#       - path: /openapi.json
#         pathType: Prefix
#         backend:
#           service:
#             name: backend
#             port:
#               number: 8000