apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: chama-staging

resources:
  - ../base

images:
  - name: gitauwairimu/chama-backend
    newName: gitauwairimu/prod-backend
    newTag: 1.2.2-dc945a7-prod
  - name: gitauwairimu/chama-frontend
    newName: gitauwairimu/prod-frontend
    newTag: 1.2.2-dc945a7-prod

patches:
  - path: backend-patch.yaml
    target:
      kind: Rollout
      name: backend
  - path: frontend-patch.yaml
    target:
      kind: Deployment
      name: frontend







# apiVersion: kustomize.config.k8s.io/v1beta1
# kind: Kustomization

# namespace: chama-staging

# resources:
#   - ../base

# images:
#   - name: gitauwairimu/chama-backend
#     newName: gitauwairimu/prod-backend
#     newTag: 1.2.2-dc945a7-prod
#   - name: gitauwairimu/chama-frontend
#     newName: gitauwairimu/prod-frontend
#     newTag: 1.2.2-dc945a7-prod

# # Use the new patches format instead of deprecated patchesStrategicMerge
# patches:
#   - path: backend-patch.yaml
#     target:
#       kind: Rollout
#       name: backend
#   - path: frontend-patch.yaml
#     target:
#       kind: Deployment
#       name: frontend