apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: chama-staging

resources:
  - ../base

images:
  - name: gitauwairimu/chama-backend
    newName: gitauwairimu/main-backend
    newTag: 1.2.4-3bc8f5d
  - name: gitauwairimu/chama-frontend
    newName: gitauwairimu/main-frontend
    newTag: 1.2.4-3bc8f5d

patchesStrategicMerge:
  - backend-patch.yaml
  - frontend-patch.yaml
